<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 <appSettings>
   <add key="ConexionBD" value="APP_CONEXION_IRD" />
   <add key="FechaRadicacionInicial" value="01-04-2016" />
   <add key="FechaRadicacionFinal" value="30-04-2016" />
   <add key="UsuarioVivanto" value="APP_USUARIO_VIVANTO" />
   <add key="ClaveVivanto" value="APP_CLAVE_VIVANTO" />
   <add key="UrlBaseVivanto" value="http://190.60.70.149:82" />
 
  </appSettings>
</configuration>